.footer-info {
  &-container {
    padding: 70px 100px;
    background-color: #252833;
    display: flex;
    flex-wrap: wrap;
  }

  &-sec-1 {
    width: 25%;
  }

  &-sec-2 {
    width: 35%;
    display: flex;

    .sec-2-sub1,
    .sec-2-sub2 {
      width: 50%;

      p {
        font-weight: 400;
      }
    }
  }

  &-sec-3 {
    width: 40%;
  }
}

h6 {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 50px;
}

.address,
.info-contact p {
  margin: 20px 0;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins";
}

.trademark {
  background-color: #3c4451;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
    color: #f0f0f0;
  }
}

.nav-link.yellow-text {
  background-color: #ffa300;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.io-email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: #fff;
  border-radius: 8px;
  input {
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1062px) {
  .footer-info {
    &-sec-1,
    &-sec-2 {
      width: 50%;
      margin-top: 15px;
    }

    &-sec-3 {
      width: 100%;
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 660px) {
  .footer-info {
    &-sec-1,
    &-sec-2,
    &-sec-3 {
      width: 100%;
    }
  }
}
