<div class="footer-info-container">
  <div class="footer-info-sec-1">
    <div class="logo-container">
      <img src="assets/images/bytescarelogowhite.png" alt="" class="img-logo" />
    </div>
    <div class="address">
      <p class="white-text">
        2055 Limestone Rd, STE 200-C,
        <br />
        Wilmington, New Castle, DE 19808
      </p>
    </div>
    <div class="info-contact">
      <p class="white-text">
        Phone: +91 8756-621035
        <br />
        Email: contact@bytescare.com
      </p>
    </div>
  </div>
  <div class="footer-info-sec-2">
    <div class="white-text sec-2-sub1">
      <h6>Useful Links</h6>
      <p>Home</p>
      <p>About Us</p>
      <p>Product & Services</p>
      <p>Blog</p>
      <p>FAQs</p>
      <p>Contact Us</p>
    </div>
    <div class="white-text sec-2-sub2">
      <h6>Key Services</h6>
      <p>Web Monitoring</p>
      <p>E-commerce Monitoring</p>
      <p>Content Security Audit</p>
      <p>Text Maker</p>
      <p>Image Identifies</p>
    </div>
  </div>
  <div class="footer-info-sec-3">
    <h6 class="white-text">Join Our Community</h6>
    <p class="white-text">Stay up to date with our products and offerings</p>
    <div class="io-email">
      <input type="text" placeholder="Enter email address" />
      <a class="nav-link yellow-text btn btn-warning" href="#">Join Us</a>
    </div>
  </div>
</div>

<div class="trademark">
  <p>© Copyright 2022 Bytescare Inc. All rights reserved</p>
</div>
