<nav class="header navbar navbar-expand-xl navbar-light bg-light">
  <a class="navbar-brand" href="#"
    ><img src="assets/images/bytescarelogo.png" alt="" class="img-logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="header-items-container collapse navbar-collapse"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav header-items">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          role="button"
        >
          Products & Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Pre-Piracy Solutions</a>
          <a class="dropdown-item" href="#">Post-Piracy Solutions</a>
          <a class="dropdown-item" href="#">Brand & Reputation Management</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Blogs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">FAQs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn btn-warning text-white demo-btn px-4" href="#"
          >Request Demo</a
        >
      </li>
    </ul>
  </div>
</nav>
