<div class="intro-container">
  <h1>
    Let’s Fight <span class="yellow-text">Privacy</span> Together with our Anti
    Piracy Protection Services!
  </h1>
  <br />

  <div class="intro-sub-container">
    <div class="intro-img">
      <img src="assets/images/hero-image.png" alt="" />
    </div>
    <div class="intro-info">
      <p>
        The advancement towards technology & world wide web has shown an
        exponential increase in attracting a large number of population to the
        digital platforms of health, education, entertainment, and many more.
      </p>

      <p>
        Content digitization increases the risk of infringements. There are a
        number of services & solutions available all over the globe to protect
        your content from Copyright infringement which makes it a difficult task
        to choose among the best available services.
      </p>

      <p>“Voila! BytesCare at Your Doorstep.”</p>

      <p>
        BytesCare, a content piracy solutions company stands at your doorstep to
        protect your content from infringements, pre/post piracy damage, and
        also protect & maintain your brand’s reputation.
      </p>
    </div>
  </div>

  <div class="intro-companies">
    <h3>Trusted by 100+ Clients</h3>
    <div class="intro-comp-logo">
      <img
        *ngFor="let number of [1, 2, 3, 4, 5, 6]"
        src="assets/images/Client{{ number }}.png"
        alt=""
      />
    </div>
  </div>
</div>
