.bytescare {
  &-container {
    padding: 100px;

    h4,
    h2 {
      text-align: center;
      font-family: "Be Vietnam Pro";
      font-style: normal;

      margin-bottom: 50px;
    }

    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
    }

    h4 {
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 40px;
    }

    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }

  &-info-container {
    margin-bottom: 50px;
  }

  &-card-container {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-card {
    padding: 26px;
    width: 360px;
    height: 335px;
    border-radius: 16px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

    .card {
      &-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 80px;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
      }

      &-text {
        margin-top: 20px;
        text-align: center;
        color: #535353;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.platform {
  &-container {
    padding: 0px 100px 100px 100px;
    h2 {
      text-align: center;
      font-family: "Be Vietnam Pro";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
    }
  }

  &-list-container {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-img-container {
    display: flex;
    justify-content: center;

    img {
      height: 32px;
      width: auto;
    }
  }

  &-card {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
  }

  &-place {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #535353;

    p {
      margin: 0;
    }
  }
}
