<div class="product-container">
  <h2>Products & Services</h2>

  <div class="industry-container">
    <div class="industry-img">
      <img src="assets/images/piracy-solutions.png" alt="" />
    </div>
    <div class="industry-info">
      <h3 class="yellow-text" style="margin-bottom: 20px">
        Pre-Piracy Solutions
      </h3>
      <p>
        It is a prevention phase that comes into play before publishing the
        content. It helps creators to prevent their original content from piracy
        attacks and publish authorized, encrypted, and original content.
        Pre-Piracy solutions include watermarking and digital rights management,
        evaluating existing technologies for loopholes, implementing extra
        measures to stop leakages within the team, etc.
      </p>

      <div class="know-more">
        <button class="know-more-btn">Know More</button>
      </div>
      <h3 class="yellow-text products">Post-Piracy Solutions</h3>
      <h3 class="yellow-text products">Brand & Reputation Management</h3>
    </div>
  </div>
</div>
