<div class="target-container">
  <h2>Industries We Serve</h2>

  <div class="industry-container">
    <div class="industry-info">
      <h3 class="yellow-text">Education</h3>
      <p>
        With the advancement of the digital world, E-learning is the new normal,
        and books on laptop is of utmost demand. This may attract the pirates to
        download & publish your original content on unauthorized platforms. But
        Bytescare is at your doorstep to protect your content from
        infringements. The tools & technologies used by us prevent the pirates
        from illegally downloading the content and publishing it on unauthorized
        platforms.
      </p>

      <p>
        Thereby, hindering content piracy, financial loss and protecting brand
        reputation, thus uplifting the E-learning culture.
      </p>
      <p style="margin: 0">E-learning content includes:</p>
      <ul>
        <li>Audio & Video Tutorials Study Materials</li>
        <li>including text and images</li>
        <li>Quiz & Mocks</li>
      </ul>
    </div>
    <div class="industry-img">
      <img src="assets/images/women-studying.png" alt="" />
    </div>
  </div>
</div>
