.testimonial {
  &-container {
    padding: 0 100px 100px 100px;

    h2 {
      font-family: "Be Vietnam Pro";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
      text-align: center;
      color: #333333;
    }
  }

  &-card-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 125px;
  }

  &-card {
    width: 525px;
    height: 330px;
    border-radius: 8px;
    padding: 25px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.user-img {
  text-align: center;
  position: absolute;
  top: -50px;
  left: 43%;
  img {
    border-radius: 50%;
  }
}

.brand-name {
  text-align: center;
  margin: 45px 0;
}

.user-name {
  position: absolute;
  bottom: 25px;
}

.demo {
  &-container {
    width: 100%;
    height: 500px;
    padding: 175px 100px;
    background-image: url("../../assets/images/yellow-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    p {
      color: #fff;
    }

    h2 {
      font-family: "Be Vietnam Pro";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;
      color: #333333;
    }
  }
}

.nav-link.yellow-text {
  width: 150px;
  background-color: #fff;
  height: 50px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.demo-btn {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
